fastapi
uvicorn
requests
gradio
langchain
pymupdf
langchain_huggingface
langchain_pinecone
langchain_community
rapidocr-onnxruntime
pydantic
ctransformers
python-dotenv
torch
torchvision
torchaudio
sentence-transformers
transformers


